/* max-width: 1024px (1024px 이하) */
@media screen and (max-width : 1024px ) {
   
    #header h1 {
        font-family: 'Potta One', cursive;
        font-size:27px;
        color:#ffd23c;
        margin:30px 0;
        float:none;
        text-align: center;
    }
    #nav { float:none;
        font-size:16px;
        /* border:1px solid #000; */
        margin-top:40px;
        text-align: center;
    }
    #nav .depth1 > li {
        display:inline-block;
        font-weight:bold;
        padding:0px 12px 15px 12px;    
        position:relative;
    }
    #nav .depth2 {
        position:absolute;
        top:90%;
        left:50%;
        transform: translateX(-50%);
        width:170px;
        background:#fff;
        box-shadow:0px -2px 10px #ddd;
        padding:10px 0px;
        color:#ffae3d;
        border-radius:5px;
        z-index:999;
        display:none;
    }

}  



@media screen and (max-width : 768px ) {
    
    #header .sns { float:none; display: none;}
    #header .membership { float:none; text-align: right; }
    #header .row {position: relative;}
    #header .open, 
    #header .close { display: none;
        position: absolute;
        top: 0; 
        right: 20px;
    }
    #header .open.on {display: block;}
    #header .close.on {display: block;}


    #header .open button, 
    #header .close button { 
        font-size: 25px;
        color: #000;
        background: none;
        border: none;
    }

    #header h1 {
        font-family: 'Potta One', cursive;
        font-size:27px;
        color:#ffd23c;
        margin:30px 0;
        float:none;
        text-align: left;
    }
    #nav { float:none;
        font-size:16px;
        /* border:1px solid #000; */
        margin-top:30px;
        text-align: center;
        display: none;
        width: 200px;
        background: #fff;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 9999;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #nav .depth1 > li {
        display:block;
        font-weight:bold;
        padding:15px 12px ;    
        position:relative;
    }
    #nav .depth2 {
        /* static 일때는 방향값이 작동안됨 */
        position:static;
        top:90%;
        left:50%;
        transform: translateX(0%);
        width:auto;
        background:#fff;
        box-shadow:unset;
        padding:10px 0px 0px;
        color:#ffae3d;
        border-radius:0px;
        z-index:999;
        display:none;
    }
    #nav .depth2::before { 
        display: none;
    }

    #footer .menu {
        background:#eee;
        color:#333;
        padding:0px;
    }
    #footer .menu a {
        padding:15px 10px; display:inline-block;
        position:relative;
        width: 50%; 
        border-top: 1px solid #000;
        border-right: 1px solid #000;
    }
    #footer .menu .row {
        padding: 0;
    }
    /* #footer .menu a:nth-child(2n+1)  */
    /* 홀수:nth-child(2n+1), (odd)  */
    /* 짝수:nth-child(2n), (even)  */
    #footer .menu a:nth-child(odd) {
        border-left: 1px solid #000;
    }
    #footer .menu a::after {
        content:''; width:1px; 
        background:#000; 
        position:absolute; right:-0.5px; 
        top:2.5px; bottom:2.5px; 
        display: none;
     }
     #footer .menu a:last-child {
        border-right: 1px solid #000;
    }
    #footer .company p { margin-bottom: 0px;}
    #footer .company span {
        padding:5px 7px;
        font-weight:normal;
        letter-spacing: -0.7px;
        position:relative;
        display: block;
    }
    #footer .company span::after {
        content:'';
        width:1px; background:rgba(255,255,255,0.5);
        position:absolute; top:4px; bottom:2px; right:-2px;
        display:none 
     }
    #footer .copyright span {
        display: block;
        margin-top: 5px;
    }


} /* 전체괄호 */
